.container {
  max-width:600px;
  margin: 0 auto;
  border: 1px solid red;
}
.search {
    font-size: larger;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  h1 {
    text-align: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
  
  .time {
    font-size: 10px;
    font-weight: bold;
    position: relative;
    left: 50px;
    bottom: 30 px;
  }
  
  .Current-temp {
    font-size: 35px;
    opacity: 80%;
    position: relative;
    left: 20px;
    bottom: 10px;
  }
  
  .currently {
    font-size: 13px;
    opacity: 70%;
    position: relative;
    left: 70px;
    bottom: 10px;
  }
  
  .London {
    position: relative;
    left: 25px;
    font-size: 25px;
  }
  
  .cloud {
    font-size: 25px;
  }
  
  .one,
  .two,
  .three,
  .four,
  .five {
    position: relative;
    right: -40px;
    font-size: 30px;
  }
