.container {
  max-width:600px;
  margin: 0 auto;
  border: 1px solid grey;
}
.search {
    font-size: larger;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  h1 {
    text-align: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
  
  
  .Current-temp {
    font-size: 35px;
    opacity: 80%;
    position: relative;
    left: 20px;
    bottom: 10px;
  
  }
  
  .currently {
    font-size: 13px;
    opacity: 70%;
    position: relative;
    left: 70px;
    bottom: 10px;
  }
  
  .London {
    position: relative;
    left: 25px;
    font-size: 25px;
  }
  
  .cloud {
    font-size: 25px;
  }

  .current-weather{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  ul{
  list-style: none;
  line-height: 15px;
  font-size: 10px;
  }

  .New{
    padding-top: 10px;
  }

  .end-text{
  text-align: center;
  }

