.container {
  max-width:600px;
  max-height: 400px;
  margin: 0 auto;
  border: 1px solid grey;
  background-color: antiquewhite;
  font-family:Arial, Helvetica, sans-serif;
}

.search {
    font-size: larger;
    padding-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    left: 90px;
  }

button{
  border-radius: 10px 10px;
  background-color: transparent;
}

  .current{
    position: relative ;
    left: 350px;
    font: bold;
    font-size: 15px;
    line-height: 20px;
  }
  
  
  h1 {
    text-align: center;
    padding-top: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
  }

  a {
    text-decoration: none;
  }
  
  .card-text .active {
    color: black;
    text-decoration: none;

  }

  .card-text .active :hoover{
   cursor: default;

  }

  .Current-temp  {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 35px;
    position: relative;
    left: 285px;
    bottom: 120px;
  }


  .mainicon{
    position: relative;
    left: 180px;
    top: -80px;
  }
  
  
  
  .London {
    position: relative;
    left: 25px;
    font-size: 45px;
    top: 70px;
  }
  
  .units{
    font-size: 15px;
    position: relative;
    bottom: 135px;
    left: 280px;
  }



  .New{
    padding-top: 10px;
    position: relative;
    bottom: 80px;

  }

  .time{
    position: relative;
    font-size: 15px;
    bottom: 15px;

  }


  .end-text{
  text-align: center;
  }

  
